
    blockquote,.drop-menu,.nav ul,.nav.nav-main li:first-child,.nav.nav-main li:first-child a,.nav.nav-main li:last-child a,.nav.nav-sub a,.nav.nav-tabs a,.bg-inverse .nav.nav-tabs a,.bg-inverse
.nav.nav-tabs .active a,.selected-inline li,.progress,.progress
    .progress-bar:last-child,.range,.range-bar,.panel,.panel-head,.panel-foot,.tab .tab-nav li a,.tab .tab-body-bordered,.dialog,.dialog .dialog-head,.tip,.tip .tip-body,.tip .image,.alert,.pagination li,.pagination .active,.pagination a:hover,.pagination-group,.pagination-group
    li:first-child,.pagination-group li:last-child,.pager li a{border-radius:0;}
.head{
	background-color:#696969
}
.head a{
	color:#b5b5b5;
}
.head a:hover{
	color:white;
}

.nav a:hover{
	background-color: #00BFFF;
}

.nav-inline.nav-menu ul li a:hover{
	background-color:#113369;
}
.nav-inline a{
	color:white;
	text-align: center;
}
.nav-inline a:hover{
	color:white;
}
.nav-inline a{
	font-size: 16px
}
.logo img{
		margin: auto 0 auto auto;}
.drop-menu{
	margin-left:0;
}
@media only screen and (min-width: 100px) and (max-width: 640px) {
.nav-inline a{
	font-size: 15px
}
}


.footerlink a{
	display:block;
	height:100%;
	padding-top: 17px;
    text-align: center;
	font-size:14px;
	height:67px;
}
.footerlink a:hover{
	background-color: gray;
	color:white;
}
.pointer{
	margin-bottom: 3px
}
.footbanner img{
	width:100%;
	height:67px;
	margin:auto 0 auto auto;
}

li{
	list-style-type:none;
}
.news-list{
	max-width:1450px;
}
.navbox{
	max-width:1450px;
}
.list-container{
	max-width:1450px;
}
.linklist a:hover{
	color:#0ae;
}
.body-left a:hover{
	color:#0ae;
}
.nav-container{
	background-image: url(top-bg.png);
	background-size:cover;
}
.logo {
	height:68px;
	padding-top:7px;
	margin-right: 20px
}
.title{
	width:310px;
	margin-top:10px;
}
.navbox ul li ul{
	filter:alpha(opacity=80);-moz-opacity:0.80;opacity:0.80;
}
.navbox ul li ul:hover{
	filter:alpha(opacity=100);-moz-opacity:1;opacity:1;
}
.nvshen img{
	height:120px;
	margin-bottom: -25px;
}
 @media only screen and (min-width: 370px) and (max-width: 640px) {
    .nav-container{
	background-image: url(top-bg.png);
	background-size:cover;
}
   .logo{
	  height:35px;
	  padding-top:0px;
   }
   .title{
	width:165px;
	margin-top:-5px;
	margin-left: 10px
}
.navbox ul li ul{
	filter:alpha(opacity=100);-moz-opacity:1;opacity:1;
}

.drop-menu{
	margin-left:29%;
}
.footbanner img{
	width:100%;
	height:67px;
	margin:0 auto;
}
.linklist{
	margin:0 auto;
}
}

 @media only screen and (min-width: 100px) and (max-width: 370px) {s
 	 .nav-container{
	background-image: url(top-bg.png);
	background-position:0% 0%;
}
   .logo{
	  height:28px;
	  padding-top:0px;
	  margin-right: 8px;
   }
   .title{
	width:143px;
	margin-top:-5px;
	margin-left:0px;
}
.tab-head a{
	font-size:13px;
 }
 .drop-menu{
	margin-left:25%;
}
.footbanner img{
	width:100%;
	height:67px;
	margin: 0 auto;
}
.navbox ul li ul{
	filter:alpha(opacity=100);-moz-opacity:1;opacity:1;
}
.body-right{
	padding-left:0px;
}
.moretext1 img{
	margin-right:10px;
}
.linklist{
	margin:0 auto;
}

}


@media only screen and (min-width: 640px) and (max-width: 1024px) {
    .nav-container{
	background-image: url(top-bg.png);
	background-position: 56% center;
	background-size: cover
}
.title img{
	width:240px;
    }
.title{
	margin-top: 5px
}
.logo {
	height:52px;
	padding-top:5px;
	margin-right: 10px
  }
 .nav-inline a{
	font-size: 14px
 }
 .nvshen img{
	height:95px;
	padding-left: 10px;
	margin-bottom: -30px;
}
.logo-bottom{
	margin-top:10px;
}
.body-right{
	padding-left:0px;
}
.body-right-nav{
	margin-left:0px;
}
.list-nav {
     	border-left: 1px solid rgb(221,221,221);
     	padding-top:30px;
     }

}
 @media only screen and (min-width: 1024px) and (max-width: 1200px){
 	 .nav-container{
	background-image: url(top-bg.png);
	background-position: 56% center;
	background-size: cover
}
.title{
	margin-top: -5px;
	width:210px;
	margin-left:0px;
    }
.logo {
	height:45px;
	padding-top:0px;
	margin-right: 10px
  }
 .nav-inline a{
	font-size: 16px
 }
.nvshen img{
	height:95px;
	padding-left: 50px;
	margin-bottom: -70px;
}
.logo-bottom{
	margin-top: 8px;
} 
.body-right{
	padding-left:10px;
}
.list-nav {
     	border-left: 1px solid rgb(221,221,221);
     	padding-top:30px;
     }

}
@media only screen and (min-width: 1200px) and (max-width: 1400px){
     .linklist{
     	text-align:left;
     }
     .list-nav {
     	border-left: 1px solid rgb(221,221,221);
     	padding-top:30px;
     }
	}
 @media only screen and (min-width: 1400px) {
.logo {
	margin-right:25px 
}
.linklist{
     	text-align:left;
     }
.list-nav {
     	border-left: 1px solid rgb(221,221,221);
     	padding-top:30px;
     }
 .list-container{
 	min-height:610px;
 }

}
.listmenu a{
	font-size:14px;
	margin-bottom:0;
	padding-top:8px;
	padding-bottom:5px;
	margin:0 auto;
}
.nav-main .active a{
	background-image:url(xian5.png);
	background-repeat:no-repeat;
	background-position: left center;
	background-color:#f6f6f5;
	color:#0068b7;
}
.listmenu a:hover{
	font-weight: bold;
	color:#0068b7;
	background-image:url(xian5.png);
	background-repeat:no-repeat;
	background-position: left center;
	background-color:#f6f6f5;
}
.list-head{
	font-size:16px;
	color:white;
	font-weight: bold;
}
.detail p{
	font-size:14px;
	margin-bottom: 15px;
	font-family: "Microsoft YaHei","simsun","Helvetica Neue",Arial,Helvetica,sans-serif;
}