    blockquote,.drop-menu,.nav ul,.nav.nav-main li:first-child,.nav.nav-main li:first-child a,.nav.nav-main li:last-child a,.nav.nav-sub a,.nav.nav-tabs a,.bg-inverse .nav.nav-tabs a,.bg-inverse
.nav.nav-tabs .active a,.selected-inline li,.progress,.progress
    .progress-bar:last-child,.range,.range-bar,.panel,.panel-head,.panel-foot,.tab .tab-nav li a,.tab .tab-body-bordered,.dialog,.dialog .dialog-head,.tip,.tip .tip-body,.tip .image,.alert,.pagination li,.pagination .active,.pagination a:hover,.pagination-group,.pagination-group
    li:first-child,.pagination-group li:last-child,.pager li a{border-radius:0;}
.head a{
	color:#b5b5b5;
}
.head a:hover{
	color:white;
}

.nav a:hover{
	background-color: gray;
}
.nav-inline.nav-menu ul li a:hover{
	background-color:gray;
}
.nav-container{
	background-image: url
}

#tab1{
	background-color: #009AC7;
}
#tab1 a{
   color:white;
}
#tab1:hover{
	background-color: #336699;
}
#tab2{
	background-color:#46AF85
}
#tab2 a{
   color:white;
}
#tab2:hover{
	background-color: #009966;
}
#tab3{
	background-color: #FFA851;
}
#tab3 a{
   color:white;
}
#tab3:hover{
	background-color:#FF6600;
}
#tab4{
	background-color:#FF7F50;
}
#tab4 a{
   color:white;
}
#tab4:hover{
   background-color:#FF6347; 
}
#tab5{
	background-color:#FFD700;
}
#tab5 a{
   color:white;
}
#tab5:hover{
	background-color:#FFCC00;
}
.tab-nav li a:hover{
    color:white;
}
.footerlink a{
	display:block;
	height:100%;
	padding-top: 16px;
    text-align: center;
	font-size:14px;
	height:67px;
}
.footerlink a:hover{
	background-color: gray;
	color:white;
}
.pointer{
	margin-bottom: 3px
}
.footbanner img{
	width:100%;
	height:67px;
}
.nav-inline a{
	color:black;
}
.nav-inline a:hover{
	color:white;
}
li{
	list-style-type:none;
}
.news-list{
	max-width:1400px;
}
}